.header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  width: fit-content;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}
