.comment {
  padding: 1rem;
  background-color: var(--surface);
  border-radius: var(--rounded-card);
  width: 100%;
}

.username {
  color: var(--text-variation);
  font-weight: 500;
  font-size: 1rem;
}

.date {
  font-size: 0.875rem;
  color: var(--text-variation);
  margin-bottom: 0.25rem;
}
