.post {
  border: 0px #76786b6b;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;

  padding: 2rem 0;
  display: grid;
  gap: 0.5rem;

  position: relative;
}

.title {
  font-weight: 600;
  font-size: 2.5rem;
}

.date {
  color: var(--text-variation);
}

.description {
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  position: absolute;
  inset: 0;
}
